.flexNewList {
    display: flex;
    flex-direction: column;
}

.addList {
    width: 250px;
}
.addListHide {
    display: none;
}
.addList button{
    opacity: 0.6;
    transition-duration: 0.3s;
    background-color: var(--color-button-red1);
    border-radius: 0.8rem;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 18px;
    position: relative;
    writing-mode: vertical-rl;
}
.addList button:hover {
    opacity: 1;
    background-color: var(--color-button-blue1);
}
.addListAction {
    display: none;
    width: 250px;
    background-color: var(--color-background-list-blue1);
    border-radius: 8px;

}
.addListActionDisable {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addListAction textarea{
    margin: 8px;
    resize: none;
    border-color: var(--color-text-border-blue1);
    width: 90%;
    border-radius: 8px;
}
.addListActionButAdd{
    margin-bottom: 8px;
    font-size: 18px;
    background-color: var(--color-button-red1);
    border-radius: 8px;
    border: none;
    opacity: 0.6;
    height: 30px;
    cursor: pointer;
}
.addListActionButAdd:hover {
    opacity: 1;
}
.addListActionButCans {
    height: 30px;
    font-size: 18px;
    border-radius: 8px;
    opacity: 0.6;
    background: transparent;
    border: none;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}
.addListActionButCans:hover {
    color: var(--color-button-red1);
    opacity: 1;
}