.lista {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    align-self: flex-start;
    padding: 0 6px;
    height: 100%;
    width: clamp(240px, 50%, 320px);
    white-space: nowrap;
    overflow: hidden;


}
.bloqueGeneral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-list-blue1);
    box-sizing: border-box;
    border-radius: 1em;
    overflow: hidden;
}
.bloqueGeneralTodos {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    list-style: none;
    user-select: none;
}
.bloqueGeneralCat {
    display: flex;
    width: 95%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 8px 0;
    font-size: 16px;
    flex-wrap: wrap;
    flex-grow: 0;
}
.bloqueGeneralCatBlo {
    position: relative;
    flex-basis: min-content;
    flex-grow: 1;
    min-height: 20px;
}
.bloqueGeneralCatBlo h3{
    cursor: pointer;
    display: block;
    background-color: transparent;
    font-size: 14px;
    color: #FA7F08;
    font-weight: bolder;
    word-break: break-all;
}
.bloqueGeneralCatBlo textarea{
    height: 32px;
    overflow: hidden;
    border-radius: 8px;
    opacity: 0;
    background: transparent;
    resize: none;
    overflow-wrap: break-word;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition-duration: 85ms;
}
.bloqueGeneralCat button {
    transition: 0.3s;
    border: none;
    background: transparent;
    font-size: 18px;
    align-self: center;
    justify-self: flex-end;
    cursor: pointer;
    opacity: 0.6;
} 
.bloqueGeneralCat button:hover {
    color: var(--color-button-red1);
    opacity: 1;
}
.bloqueGeneralNewTask {
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.bloqueGeneralNewTask div > button{
    opacity: 0.6;
    transition-duration: 0.3s;
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    position: relative;
}
.bloqueGeneralNewTask div > button:hover {
    opacity: 1;
    background-color: var(--color-button-blue1);
    border-radius: 1em;
}
.bloqueGeneralNewTask div > input {
    align-self: center;
}
.OcultarNew {
    display: none;
}
.VisibleNew {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editTitle {
    display: flex;
    flex-flow: column nowrap;
    padding:  8px 8px 0;
    font-size: 16px;
    width: 90%;
}

.editTitle form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: var(--color-background-list-blue1);
    border-radius: 8px;
    width: 100%;

}
.editTitle form > textarea {
    width: 90%;
    height: clamp(30px, 50%, 50%);
    border-radius: 8px;
    border-color: #FA7F08;
    resize: none;
}
.editTitle form .buttonsArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.editTitle form .buttonsArea .buttonSubmit {
    background-color: var(--color-button-red1);
    border: none;
    border-radius: 8px;
    opacity: 0.6;
    font-size: 18px;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}
.editTitle form .buttonsArea .buttonSubmit:hover {
    opacity: 1;
}
.editTitle form .buttonsArea .buttonCancelForm {
    background: transparent;
    border: none;
    border-radius: 8px;
    opacity: 0.6;
    font-size: 18px;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}
.editTitle form .buttonsArea  .buttonCancelForm:hover {
    background-color: var(--color-button-blue1);
    opacity: 1;
}