:root {
  --color-button-red1: #f24404;
  --color-button-blue1: #e4eafa;
  --color-text-border-blue1: #5FD4F5;
  --color-text-border-blue2: #00ffff;
  --color-text-border-grey1: #808080;
  --color-background-list-blue1: #fcf8e9;
  --color-background-task-white: #ffff;
  --color-completed-task: #008000 ;
  margin: 0;
  height: 100%;
  width: 100%;
}
body, #root {
  margin: 0;
  height: 99%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  font-family: 'Monserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
